venv
*.aux
*.log
*.run.xml
*.bcf
*.bbl
*.blg
*.ent
__pycache__
uniformity/unity/[Ll]ibrary/
uniformity/unity/[Tt]emp/
uniformity/unity/[Oo]bj/
uniformity/unity/[Bb]uild/
uniformity/unity/[Bb]uilds/
uniformity/unity/[Ll]ogs/
uniformity/unity/MemoryCaptures/
uniformity/unity/Assets/AssetStoreTools*
uniformity/unity/*.csproj
uniformity/unity/*.unityproj
uniformity/unity/*.sln
uniformity/unity/*.suo
uniformity/unity/*.tmp
uniformity/unity/*.user
uniformity/unity/*.userprefs
uniformity/unity/*.pidb
uniformity/unity/*.booproj
uniformity/unity/*.svd
uniformity/unity/*.pdb
uniformity/unity/*.mdb
uniformity/unity/.vscode/
uniformity/unity/.idea/
uniformity/unity/.vs/
.DS_Store
Thumbs.db
uniformity/unity/Recordings/
