# Build artifcats
*.aux
*.log
*.run.xml
*.bcf
*.bbl
*.blg
*.ent
*.exe
*.off
__pycache__
# Visual Studio Code and Jetbrains IDE stuff
.idea
.vscode
# Thumbnails
Thumbs.db
*.dll
uniformity/media/models/off
