venv
# LOL look how many latex log stuff there is
/uniformity/script.aux
/uniformity/script.dvi
/uniformity/script.log
/uniformity/script.run.xml
/uniformity/script.bcf
/uniformity/references.bib.bbl
/uniformity/references.bib.blg
/uniformity/script.bbl
/uniformity/script.blg
/uniformity/script.ent
/uniformity/script.tex.bbl
/uniformity/script.tex.blg
/uniformity/s.log
/uniformity/stackoverflowquestion.aux
/uniformity/stackoverflowquestion.bbl
/uniformity/stackoverflowquestion.bcf
/uniformity/stackoverflowquestion.blg
/uniformity/stackoverflowquestion.ent
/uniformity/stackoverflowquestion.log
/uniformity/stackoverflowquestion.pdf
/uniformity/stackoverflowquestion.run.xml
/uniformity/stackoverflowquestion.tex
/uniformity/stackoverflowquestion.tex.bbl
/uniformity/stackoverflowquestion.tex.blg
script.log
texput.log
__pycache__

# Added by cargo

/uniformity/target
